<!doctype html>
<html>

<head>
  <title>Wake Up and Grow</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing|Roboto+Condensed|Oswald|Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/feed.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header class="clearfix">
    <nav>
      <ul>
        <a href="/main">
          <li>Home</li>
        </a>

        <a href="/archive">
          <li>Archive</li>
        </a>

        <a href="/user/<%= user.local.username %>">
          <li>My Profile</li>
        </a>

        <a href="/feed">
          <li>Motivation Wall</li>
        </a>

        <a href="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </nav>
  </header>

  <section class="viewPostsList clear">
    <ul>
      <li><a href="/feed">All</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </section>


  <section class="feedContainer">
    <section class="postFromFeed clear floatLeft">
      <img src="/<%= user.local.imageUrl %>" class="proPicBig floatLeft" alt="Profile Photo">

      <div class="feedDisplay floatLeft">
        <h3>@<span class="username"><%= user.local.username%></span></h3>
        <p>This is your space for motivation, support, and encouragement. Be kind to one another and use positive language. Get inspired to start your day with others who are growing alongside you!</p>
      </div>

      <form action="/postFromFeed" method="post">
        <input type="text" name="feedMsg" value="" class="postFromFeedInput" placeholder="how are you growing today?">
        <button type="submit" name="feedButton" class="postFromFeedButton">SUBMIT</button>
      </form>

      <img src="/img/wreath.png" alt="" class="wreath">
    </section>


    <section class="allPosts floatLeft">
      <% for (let i=0; i< feed.length; i++) { %>
      <% for (let j=0; j< feed[i].favoritedBy.length ; j++) { %>
      <% if (feed[i].favoritedBy.includes(user.local.username)) {%>
      <section class="userPost">
        <div class="proPic floatLeft">
          <img src="/<%= feed[i].userProPic %>" class="propic">
        </div>

        <a href="/user/<%= feed[i].userPosted %>" class="usernameDisplay floatLeft"><%= feed[i].userPosted %></a>

        <div class="feedMsg clear">
          <p><%= feed[i].feedMsg %></p>
        </div>

        <div class="postBottom">
          <span><%= feed[i].feedDate %></span>

          <span style="color:#698058"><i class="fas fa-star"></i></span>

          <% if (user.local.username === feed[i].userPosted) { %>
          <a href="#" class="viewComments">View All Comments</a>
          <span><i class="far fa-trash-alt"></i></span>
        </div>
        <% } %>

      </section> <!-- end of userPost-->
      <% } %>
      <!-- end of userPost loop-->
      <% } %>
      <!-- end of if userFavorited -->
      <% } %>
      <!-- end of userPost loop-->

    </section> <!-- end of allPosts-->
  </section><!-- end of containing section -->

  <script type="text/javascript" src="/js/feed.js"></script>


</body>
