<!doctype html>
<html  lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wake Up and Grow</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/feed.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header class="clearfix">
    <nav>
      <ul>
        <a href="/main">
          <li>Home</li>
        </a>

        <a href="/archive">
          <li>Archive</li>
        </a>

        <a href="/user/<%= user.local.username %>" class="mobileHide">
          <li>My Profile</li>
        </a>

        <a href="/feed">
          <li>Motivation Wall</li>
        </a>

        <a href="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </nav>
  </header>

  <section class="viewPostsList clear">
    <ul>
      <li><a href="/feed">All</a></li>
      <li><a href="/favorites">Favorites</a></li>
    </ul>
  </section>


  <section class="feedContainer">
    <section class="postFromFeed clear floatLeft">
      <img src="/<%= user.local.imageUrl %>" class="proPicBig floatLeft" alt="Profile Photo">

      <div class="feedDisplay floatLeft">
        <h3 class= "floatLeft">@<span class="username"><%= user.local.username%></span></h3>
        <p class="mobileHide">Get inspired to start your day with others who are growing alongside you! This is your space for motivation, support, and encouragement. Be kind to one another and affirm yourself with goodness.</p>
      </div>

      <form action="/postFromFeed" method="post">
        <input type="text" name="feedMsg" value="" class="postFromFeedInput" placeholder="how are you growing today?">
        <button type="submit" name="feedButton" class="postFromFeedButton">SUBMIT</button>
      </form>

      <img src="/img/wreath.png" alt="" class="wreath mobileHide">
    </section>


    <section class="allPosts floatLeft">
      <% for (let i=0; i< feed.length; i++) { %>
      <section class="userPost">
        <div class="proPic floatLeft">
          <img src="/<%= feed[i].userProPic %>" class="propic">
        </div>

        <a href="/user/<%= feed[i].userPosted %>" class="usernameDisplay floatLeft"><%= feed[i].userPosted %></a>

        <div class="feedMsg clear">
          <p><%= feed[i].feedMsg %></p>
        </div>

        <div class="postBottom">
          <span class="feedDate"><%= feed[i].feedDate %></span>

          <% let color= "#000"%>
          <% for (let j=0; j< feed[i].favoritedBy.length ; j++) { %>
          <% if (feed[i].favoritedBy.includes(user.local.username)) {%>
          <% color = "#698058" %>
          <% } %>
          <% } %>
          <span style="color:<%= color %>"><i class="fas fa-star"></i></span>

          <% if (user.local.username !== feed[i].userPosted) { %>
          <form class="postComment">
            <input type="text" name="comment" placeholder="send some love + encouragement">
            <button type="button" name="commentSubmit"><i class="fas fa-comment-medical commentSubmit"></i></button>
            <p class="textSent"></p>
          </form>
          <% } %>

          <% if (user.local.username === feed[i].userPosted) { %>
          <button type="button" id="viewComments">View <%= feed[i].comments.length %> Comments</button>
          <span><i class="far fa-trash-alt"></i></span>

          <div id="showComments" class="showComments hide">
            <% for(var j=0; j<feed[i].comments.length; j++) {%>
            <a href="/user/<%= feed[i].comments[j][0] %>">
              <p><span><%= feed[i].comments[j][0] %></span>
            </a><span>: <%= feed[i].comments[j][1] %></span></p>
            <% } %>
            <button type="button" id="hideComments">Hide</button>
          </div>
        </div>

        <% } %>
        <!-- end of loop-->
      </section> <!-- end of userPost-->
      <% } %>
    </section> <!-- end of allPosts-->
  </section><!-- end of containing section -->

  <script type="text/javascript" src="/js/feed.js"></script>


</body>
