<!doctype html>
<html  lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wake Up and Grow</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Oswald|Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header class="clearfix">
    <nav>
      <ul>
        <a href="/main" class="monitorHome">
          <li>Home</li>
        </a>

        <a href="/archive" class="mobileHide">
          <li>Archive</li>
        </a>

        <a href="/user/<%= user.local.username %>" class="mobileHide">
          <li>My Profile</li>
        </a>

        <a href="/feed">
          <li>Motivation Wall</li>
        </a>

        <a href="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </nav>
  </header>

  <!-- Main -->

  <section class="clearfix container">
    <section class="userInfo main floatLeft clear">
      <div class="proPic floatLeft">
        <img src="/<%= user.local.imageUrl %>" class="propic" alt="Profile Photo">
      </div>
      <h2 class="floatLeft">Welcome, <a href="/user/<%= user.local.username %>"><span class="firstName"><%= user.local.name %></span></a>!</h2>
      <span class="floatLeft"><i class="fas fa-pencil-alt editPencil mobileHide"></i></span>

      <div class="editUserInfo hide mobileHide">
        <form>
          <p>Username: <span><textarea class="editUsername"><%= user.local.username %></textarea></span></p>
          <p>Phone Number: <span><textarea class="editNumber"><%= user.local.number %></textarea></span></p>
          <p>Text Opt-in: <span><select class="optIn" name="editOptIn"></p>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          </select></span>
          <p>Email: <span><textarea class="editEmail"><%= user.local.email %></textarea></span></p>
          <button type="button" class="saveUserInfo">Save</button>
          <button type="button" class="cancelEdit">Cancel</button>
        </form>

        <form action="/uploadProPic" enctype="multipart/form-data" method="POST" class="updateProPic">
          <p>Update Profile Photo:</p>
          <input type="file" name="file-to-upload" class="floatLeft" value="">
          <input type="submit" class="uploadButton floatLeft" value=" Upload">
        </form>
      </div>

      <h3 class="clear mobileHide">Send a Message to the Motivation Wall:</h3>
      <form action="/postFromHome" method="post" class="mobileHide">
        <input type="text" name="feedMsg" value="" class="postFromHomeInput" placeholder="share posts to inspire + for others to support!">
        <button type="submit" name="feedButton" class="postFromHomeButton">SUBMIT</button>
      </form>

      <section class="legend clear mobileHide">
        <ul class="legendIcons">
          <li><span><i class="fas fa-pencil-alt"></i> : edit user info</span></li>
          <li><span><i class="fas fa-plus"></i> : add new goals</span></li>
          <li><span><i class="fab fa-pagelines"></i> : mark completed</span></li>
          <li><span><i class="far fa-trash-alt"></i>: delete</span></li>
        </ul>
      </section>

      <span class="phoneNumber hideText"><%= user.local.number %></span>
    </section> <!-- end of userInfo Section -->

    <section class="goals main floatLeft clearfix">
      <h3 class="textCenter">Current Goal</h3>
      <span class="dateDis">Today is: <span class="date"></span></span>
      <span><i class="fas fa-plus addIcon"></i></span>

      <!-- Form comes up when clicking + button -->
      <form action="/goals" method="POST" class="form hide">
        <div class="goal1">
          <p>One</p>
          <input type="text" name="goal1" class="goal1Val medLength" placeholder="goal 1" value="Demo Day Testing!">
          <select name="time1">
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7"  selected="selected">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>

          <select name="time1">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
          </select>

          <select name="time1">
            <option value="AM">AM</option>
            <option value="PM"  selected="selected">PM</option>
          </select>
          <input type="text" name="why1" class="fullLength" placeholder="write something to motivate yourself" value="#HireResilient">
        </div>

        <div class="goal2">
          <p>Two</p>
          <input type="text" name="goal2" class="medLength goal2Val" placeholder="goal 2" value="">
          <select name="time2">
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>

          <select name="time2">
            <option value="00">00</option>
            <option value="05">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
          </select>

          <select name="time2">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
          <input type="text" name="why2" class="fullLength" placeholder="write something to motivate yourself">
        </div>

        <div class="goal3">
          <p>Three</p>
          <input type="text" name="goal3" class="medLength goal3Val" placeholder="goal 3">
          <select name="time3">
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>

          <select class="time3Min" name="time3">
            <option value="00">00</option>
            <option value="05">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
          </select>

          <select class="time3" name="time3">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
          <input type="text" name="why3" class="fullLength" placeholder="write something to motivate yourself">
        </div>

        <button type="submit" class="goalsButton">Happy Blooming!</button>
        <button type="button" class="cancel">cancel</button>
      </form>


      <!-- Display most recent goal from database -->
      <section class="results clearfix">
        <% if (main.length > 0 ) { %>
        <% let last = main.length-1 %>
        <div class="goalsList floatLeft">
          <span><i class="fab fa-pagelines g1Leaf"></i></span>
          <span class="goal1Hr"><%= main[last].time1[0] %></span>:<span class="goal1Min"><%= main[last].time1[1] %></span><span><%= main[last].time1[2] %> | </span>
          <span class="g1"><%= main[last].goal1 %></span>
          <p class="why1 why"><%= main[last].why1 %></p>
        </div>
          <p class="days floatLeft"><span class="mobileShow hide">Celebrating:</span><span class="g1Count"> <%= main[last].g1Count %></span> Days</p>

        <div class="goalsList floatLeft">
          <span><i class="fab fa-pagelines g2Leaf"></i></span>
          <span class="goal2Hr"><%= main[last].time2[0] %></span>:<span class="goal2Min"><%= main[last].time2[1] %></span><span><%= main[last].time2[2] %> | </span>
          <span class="g2"><%= main[last].goal2 %></span>
          <p class="why2 why"><%= main[last].why2 %></p>
        </div>
          <p class="days floatLeft"><span class="mobileShow hide">Celebrating:</span><span class="g2Count"> <%= main[last].g2Count %></span> Days</p>

        <div class="goalsList floatLeft">
          <span><i class="fab fa-pagelines g3Leaf"></i></span>
          <span class="goal3Hr"><%= main[last].time3[0] %></span>:<span class="goal3Min"><%= main[last].time3[1] %></span><span><%= main[last].time3[2] %> | </span>
          <span class="g3"><%= main[last].goal3 %></span>
          <p class="why3 why"><%= main[last].why3 %></p>
        </div>
        <p class="days floatLeft"><span class="mobileShow hide">Celebrating:</span><span class="g3Count"> <%= main[last].g3Count %></span> Days</p>

        <span class="last">You set these goals on: <span class="setDate"><%= main[last].date %></span></span>

        <div class="icons clearfix">
          <span><i class="far fa-trash-alt trashIcon"></i></span>
        </div>
      </section>
      <% } %>
    </section>
  </section><!-- ends condition for most current goal in DB-->

  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/alarm.js"></script>
</body>
