<!doctype html>
<html  lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wake Up and Grow</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing|Roboto+Condensed|Oswald|Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header class="clearfix">
    <nav>
      <ul>
        <a href="/main">
          <li>Home</li>
        </a>

        <a href="/archive">
          <li>Archive</li>
        </a>

        <a href="/main %>" class="mobileHide">
          <li>My Profile</li>
        </a>

        <a href="/feed">
          <li>Motivation Wall</li>
        </a>

        <a href="/logout">
          <li>Logout</li>
        </a>
      </ul>
    </nav>
  </header>


  <section class="container">
    <% let last = main.length-1 %>
    <section class="leftSec clear floatLeft userLeftSec">
        <img src="/<%= user[0].local.imageUrl %>" class="proPicBig floatLeft" alt="Profile Photo">
        <div class="userDisplay floatLeft">
        <h2><%= user[0].local.name%></h2>
        <h3>@<%= user[0].local.username%></h3>
      </div>

      <section class="results clear clearfix userResults">
        <% if (main.length > 0 ) { %>
        <p>Current Goal:</p>
        <span><i class="fab fa-pagelines g1Leaf"></i></span>
        <span class="goal1Hr"><%= main[last].time1[0] %></span>:<span class="goal1Min"><%= main[last].time1[1] %></span><span><%= main[last].time1[2] %> | </span>
        <span class="g1"><%= main[last].goal1 %></span>
        <p> Celebrating: <span class="g1Count"><%= main[last].g1Count %></span> Days</p>

        <span><i class="fab fa-pagelines g2Leaf"></i></span>
        <span class="goal2Hr"><%= main[last].time2[0] %></span>:<span class="goal2Min"><%= main[last].time2[1] %></span><span><%= main[last].time2[2] %> | </span>
        <span class="g2"><%= main[last].goal2 %></span>
        <p> Celebrating: <span class="g2Count"><%= main[last].g2Count %></span> Days</p>

        <span><i class="fab fa-pagelines g3Leaf"></i></span>
        <span class="goal3Hr"><%= main[last].time3[0] %></span>:<span class="goal3Min"><%= main[last].time3[1] %></span><span><%= main[last].time3[2] %> | </span>
        <span class="g3"><%= main[last].goal3 %></span>
        <p> Celebrating: <span class="g3Count"><%= main[last].g3Count %></span> Days</p>

        <span class="last"><%= main[last].name %> set these goals on: <span class="setDate"><%= main[last].date %></span></span>
        <% } else { %>
        <h3>No current goals set</h3>
        <% } %>
      </section>
    </section>



    <section class="allPosts floatLeft userPosts">
      <% for (let i=0; i< feed.length; i++) { %>
      <section class="userPost">

        <div class="feedMsg clear">
          <p><%= feed[i].feedMsg %></p>
        </div>

        <div class="postBottom">
          <span class="feedDate"><%= feed[i].feedDate %></span>
        </div>
      </section> <!-- end of userPost-->
      <% } %>
    </section> <!-- end of allPosts-->
  </section><!-- end of containing section -->

</body>
